<!DOCTYPE html>
<html lang="en">
<header>
    <p></a><img src="{{url_for('static', filename = 'img/log.jpeg')}}"
    width="165px"
    align="left"> </p>
    <img src="{{url_for('static', filename = 'img/klav.jpeg')}}"
    width="300px"
    align="right">
    <br>
</header>

 <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

  <nav class="cl-effect-11">
<br>
<br>
<br>

<br>
<br>
<br>
    <ul>
      <a href="index" data-hover="main">Назад</a>
  </ul>
<br>
<br>
  </nav> 
  <body> <h3> {{message}} </h3></body>
 
          

    


</html>