<!DOCTYPE html>
<html lang="en">
<header>
    <p><a href="index.html"> </a><img src="{{url_for('static', filename = 'img/log.jpeg')}}"
    width="165px"
    align="left"> </p>
    <img src="{{url_for('static', filename = 'img/klav.jpeg')}}"
    width="300px"
    align="right">
    <br>
</header>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<p align="center" style="color:#0099; font-size:30px">

  <nav class="cl-effect-11">
  <br>
    <br>
    <br>
  <br>

    <ul>
      <a href="main" data-hover="main">Назад</a>
  </ul>

  </nav>
<br>
<br>
  <body> <h3> <p align="center">{{message}}</p> </h3></body>
  

   
          

    


</html>