<!DOCTYPE html>
<html lang="en">
<head>
    <title>Дашборд ЦУИТА</title>
        <p></a><img src="{{url_for('static', filename = 'img/log.jpeg')}}"
    width="165px"
    align="left"> </p>
    <img src="{{url_for('static', filename = 'img/klav.jpeg')}}"
    width="300px"
    align="right">
    <br>
</head>
<body>



  <style type="text/css">
a {
  background-color: red;
  color: white;
  padding: 0.5em 0.5em;
  text-decoration: none;

}

a:hover {
  background-color: #555;
}

a:active {
  background-color: write;
}

a:visited {
  background-color: green ;
}
</style>

     <p align="center" style="color:#0099; font-size:30px">
                                Дашборд</p><br>


     <p><nav class="cl-effect-11">

     <!-- <a href="fop" data-hover="fop">  Загрузка ФОП </a> -->
      <a href="dict" data-hover="dict"> Загрузка тарифов СБС </a>
      <a href="tarif_sbs" data-hover="tarif_sbs"> Тарифы СБС </a>
      <a href="spec" data-hover="spec"> Загрузка готовой спецификации </a>
      <a href="main" data-hover="main">Спецификация</a>

      
     </nav></p>


    
</body>
</html>

