<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Nice dark sign in form</title>
  
  
  
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style3.css') }}">

  
</head>

<body>
  <h1>Sign In Form</h1>
<div id="wrapper">
	<form id="signin" method="POST" action="/login" >
		<input type="text"  name="user" placeholder="username" />
		<input type="password" name="pass" placeholder="password" />
		<button type="submit">&#xf0da;</button>
		
	</form>
</div>
  
  
</body>
</html>
