<!DOCTYPE html>
<html lang = "en">

<script	src="{{url_for('static', filename = 'js/script.js')}}"></script>
<script	src="{{url_for('static', filename = 'js/form.js')}}"></script>
<link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'css/style4form.css')}}">



  
<div id="login">
	</h1> Введите почту и пароль.</h1>
	<form id="signin" method="POST" action="/authorization" >
		<input type="text"  name="user" placeholder="username" />
		<input type="password" name="pass" placeholder="password" />
		<button type="submit">Войти</button>
		
	</form>
</div>
  
  
</body>
</html>
